@import "./variables.scss";

.swal-title {
    color: $black;
    font-family: $lato;
}
  
.swal-text {
    font-family: $merriweather;
}
  
.swal-button--confirm {
    border-radius: 15px;
    font-size: 15px;
    font-family: $lato;
    background-color: $orange;
    padding: 5px 20px;
}
  
.swal-button--cancel {
    border-radius: 15px;
    font-size: 15px;
    font-family: $lato;
    color: $black;
    background-color: $not-soon;
    padding: 5px 20px;
}