.App {
  text-align: center;
  background-color: #fffbf8;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #fffbf8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #09d3ac;
}

.soon {
  background-color: #ff776e;
}

.kinda-soon {
  background-color: #fdab6d;
}

.not-soon {
  background-color: #fee0b3;
}

.inactive {
  background-color: lightgrey;
}

.navLink {
  margin-left: 2em;
}

.navContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navStyle {
  display: flex;
  align-items: center;
  align-content: space-between;
}
